.OPSInitialsAvatar_avatar {
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  flex-shrink: 0;
  line-height: 1;
  user-select: none;
}
